* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial;
    font-size: 20px;
}

/* Contenedor principal */
body {
    display: flex;
    flex-direction: column;
}
.cards_container {
    background: #f4f4f4;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* Sección de la imagen de fondo (hero section) */
.hero-section {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.4), /* Negro con 40% de opacidad */
        rgba(0, 0, 0, 0.4)
    ), url('../assets/background-bread.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Ocupa toda la pantalla inicialmente */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: center;
    color: #f4f4f4;
    padding: 20px;
}

/* Header */
.header {
    /*background-color: rgba(51, 51, 51, 0.9);  Fondo oscuro semitransparente */
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

/* Logo */
.logo img {
    height: 80px;
    width: auto;
    transition: transform 0.3s;
}

.logo img:hover {
    transform: scale(1.2);
}

/* Menú de navegación */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline-block;
}

.nav-links a {
    color: #f4f4f4;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.3s;
    margin-left: 20px;
}

.nav-links a:hover {
    color: #d39e0e;
}

/* Títulos en la hero section */
.title-lafuente,
.title-lafuente2 {
    font-size: 90px;
    font-weight: bold;
    margin: 20px 0;
    margin-left: 5%;
}

/* Sección de la card (contenido) */
.card-section {
    padding: 40px 20px;
    background-color: #f4f4f4; /* Fondo claro para el contenido */
    color: #333; /* Texto oscuro */
    text-align: center;
}

/* Card de información */
.information-bakery {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; /* Fondo blanco */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.information-bakery h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.information-bakery p {
    font-size: 1.2rem;
    line-height: 1.6;
}